@import "./variables";

/*********
* QUERIES
**********/
@mixin tablet() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 424px) {
    @content;
  }
}

@mixin iconsMobile() {
  width: 100%;
  height: 100%;
  flex-direction: column;

  .icons {
    padding: 3rem 0 1rem 0;

    overflow: unset auto;

    width: 100%;

    margin-bottom: $positionTop;

    right: 0;
    top: $positionTop;
  }
}

/*********
* MIXINS
**********/
@mixin overflowBarCorrection() {
  width: calc(100% + #{$positionRight});

  @include mobile() {
    width: 100%;
  }
}

@mixin iconsHoneycomb(
  $iconsAmount,
  $rowNumber: 2,
  $rowWidth: 5.25rem,
  $columnWidth: 6.25rem,
  $scaleInitial: 100%,
  $scaleFinal
) {
  $columns: ceil($iconsAmount / 2); // math.ceil
  $minmax: minmax($columnWidth, 62rem / $columns);

  .icons {
    display: grid;

    @if $rowNumber > 1 {
      grid-template-columns: repeat($columns, $minmax);
    } @else {
      grid-template-columns: repeat($iconsAmount, $columnWidth);
    }

    grid-template-rows: repeat($rowNumber, $rowWidth);
    grid-auto-flow: column; // change the flow to fill up column first
    place-items: center;
    align-content: center;

    width: 100%;
    height: 100%;

    padding-left: $positionRight;

    position: relative;
    right: $positionRight;

    overflow: auto hidden;

    .icon {
      padding-right: $positionRight;
      padding-left: $positionRight;

      &:hover {
        z-index: 10; // to make shadow be above all icons when hovering
      }

      img {
        transform: scale($scaleInitial);
        transition: filter 1.3s, transform 0.7s;

        &:hover {
          filter: drop-shadow(0px 0px 2px var(--shadow-style));
          transform: scale($scaleFinal);
        }
      }

      @if $rowNumber > 1 {
        &:nth-child(even) {
          position: relative;
          right: -50%;
        }
      }
    }
  }

  @include tablet() {
    .icons {
      $scaleReduce: 1rem;

      $minmax: minmax($columnWidth - $scaleReduce, 62rem / $columns);

      @if $rowNumber > 1 {
        grid-template-columns: repeat($columns, $minmax);
      } @else {
        grid-template-columns: repeat($iconsAmount, $columnWidth - $scaleReduce);
      }

      grid-template-rows: repeat($rowNumber, $rowWidth - $scaleReduce);

      .icon {
        img {
          $scaleReduce: 20%;

          transform: scale($scaleInitial - $scaleReduce);

          &:hover {
            transform: scale($scaleFinal - $scaleReduce);
          }
        }
      }
    }
  }

  @include mobile() {
  }
}

@mixin gradientAnimation($start, $end, $transTime) {
  position: relative;

  z-index: 0;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient($start, $end);

    z-index: -1;

    transition: opacity $transTime;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
