

// colors
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;

$shadowStyle: rgba(50,50,0,.2);

$about-light-bg: linear-gradient(180deg, #ffee93 61.12%, #fcf5c7 100%);
$about-light: #ffee93;
$about-dark-bg: linear-gradient(180deg, #684f13 61.12%, #857140 100%);
$about-dark: #684f13;
$portfolio-dark: #9b2e12;
$portfolio-light: #f9b18b;
$skills-light: #adf7b6;
$skills-dark: #0d6918;
$skills-lighter: #dff7e2;
$tools-light: #a7d3de;
$tools-dark: #14667a;
$tools-lighter: #deebee;

