.container {
  z-index: 100; // to be above the intro component

  position: absolute;
  display: flex;
  left: 14.76rem; // ((87,6px / 2) - 280px) / 16px
  top: .2rem;

  border: none;

  background-color: black;
  // box-shadow: 5px 5px 5px gray; // feio, arrumar
  border-radius: 100px;
  padding: 0 .3rem;

  cursor: pointer;

  .icons {
    margin: .2rem;
  }
}

.containerDarkMode {
  background-color: white;
  
}