@import "./variables";
@import "./colors";
@import "./mixins";

.container {
  $btnWidth: 5.125rem; // 90px

  width: $btnWidth;

  z-index: 100; // to be above the intro component

  display: flex;
  justify-content: space-evenly;
  
  position: absolute;
  right: -$btnWidth / 2; // center the button
  top: 0.2rem;

  background-color: var(--gray1);
  box-shadow: 0px 0px 3px var(--shadow-style);
  border-radius: 50px;

  .icons {
    margin: 0.2rem;
  }
}

.containerMobile {
  display: none;
}

@include mobile() {
  .containerDesktop {
    display: none;
  }
  .containerMobile {
    display: flex;
    left: 2rem;
    top: 2rem;
  }
}