@import "./variables";
@import "./colors";
@import "./mixins";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100vh;

  position: relative;

  overflow: hidden;
}

.mainContainer {
  display: flex;

  height: 100%;
  width: 17.5rem;

  color: var(--text);
  background: var(--about-bg);
}

.aboutContainer {
  position: relative;
  padding: 2rem;

  line-height: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--about-title);

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3.375rem;
      height: 2.5rem;
    }
  }

  p {
    overflow: auto;
  }

  .logoAndPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hexagone {
  display: inline-block;
  width: 10rem;
  margin: 1rem;
  filter: url(#round);

  &::before {
    content: "";
    display: block;
    padding-top: 113%;
    background: url("/assets/images/samuel-mota.jpg");
    background-size: cover;
    background-position: 0% 16%;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  }
}

.asideContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100%;

  overflow: hidden;
}

.menu,
.menuOpenButton {
  display: none;
}

@include tablet() {
  .container {
    flex-direction: column;

    overflow-y: auto;
  }

  .hexagone {
    width: 7rem;
  }

  .menuCloseButton {
    display: none;
  }

  .mainContainer {
    width: 100%;
    flex: 1;

    position: relative;

    .aboutContainer {
      flex: 2;

      p {
        margin-bottom: 0;
      }
    }

    .logoAndPhoto {
      flex-direction: row;

      width: 100%;

      img {
        width: 80%;
        min-width: 7rem;
      }
    }

    p {
      height: 10rem;
    }

    .menu {
      display: flex;
      flex: 1;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      background: var(--menu-bg);

      h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;
      }
    }
  }

  .asideContainer {
    width: 100%;

    min-height: 29.75rem;
  }
}

@include mobile() {
  .container {
    height: auto;
  }

  .menuCloseButton {
    display: block;

    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .mainContainer {
    z-index: 2;
    transition: left 0.7s;

    left: 0;
    top: 0;

    &.mainContainerClosed {
      left: -100vw;
    }

    .logoAndPhoto {
      flex-direction: column;
      align-items: center;

      .hexagone {
        width: 80%;
      }
    }

    p {
      height: 100%;
    }

    .menuOpenButton {
      display: block;

      position: absolute;
      top: 2rem;
      right: 1.7rem;
    }

    .menu {
      z-index: 3;

      position: absolute;
      right: -100vw;
      top: 0;

      justify-content: flex-start;

      width: 100%;
      height: 100%;
      padding-top: 8.5rem;

      transition: right 0.7s;

      h2 {
        font-size: 2.5rem;
      }
    }
  }

  .bgToCloseMenu {
    opacity: 0;
    position: fixed;
    inset: 0;

    transition: opacity 1s;
  }

  .bgToCloseMenuEnable {
    z-index: 1;
    opacity: 0.5;
    background: black;
  }

  .asideContainer {
    z-index: 0;
  }
}
