@import "./variables.scss";
@import "./colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 1;

  min-height: 100vh;
  height: 100vh;

  overflow: auto;
}

.aboutContainer {
  position: relative;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-width: 280px;
  width: 17.5rem;
  height: inherit;

  background: var(--about-bg);
  color: var(--text);

  h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--about-title);

    // img {
    //   filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    // }
  }
}

.hexagone {
  display: inline-block;
  width: 10rem;
  // color: red;
  margin: 20px;
  filter: url(#round);

  &::before {
    content: "";
    display: block;
    padding-top: 113%;
    background: url("/assets/images/samuel-mota.jpg");
    background-size: cover;
    background-position: 0% 16%;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  }
}

.socialIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  bottom: 2rem;

  width: 100%;
}

.mainContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100%;

  overflow: hidden;
}

// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }
