@import "./variables";
@import "./mixins";
@import "./colors";

.skills {
  flex: 3; // 30% of the screen

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: var(--skills-secondary);

  @include overflowBarCorrection();
}

@include iconsHoneycomb(10, $scaleFinal: 170%);

@include tablet() {
  .icons {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@include mobile() {
  .skills {
    @include iconsMobile();
  }
}
