@import "./variables.scss";
@import "./mixins.scss";

.skills {
  flex: 3; // 30% of the screen

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: calc(100% + #{$positionright});

  background: $skills-light;
}

@include iconsHoneycomb(10);