@import "./variables.scss";
@import "./mixins.scss";

.skills {
  flex: 3; // 30% of the screen

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: $skills-light;

  @include overflowBarCorrection();
}

@include iconsHoneycomb(10);