@import "./variables.scss";
@import "./mixins.scss";

.tools {
  flex: 2;  // 20% of the screen

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  background: $tools-light;
}

@include iconsHoneycomb(10);