@import "./variables";
@import "./mixins";
@import "./colors";

.tools {
  flex: 2; // 20% of the screen

  display: flex;
  justify-content: flex-start;

  background: var(--tools-secondary);

  @include overflowBarCorrection();
}

@include iconsHoneycomb(10, 1, $columnWidth: 5.75rem, $scaleInitial: 80%, $scaleFinal: 150%);

@include tablet() {
}

@include mobile() {
  .tools {
    @include iconsMobile();
  }

  @include iconsHoneycomb(10, $scaleFinal: 170%);

}
